<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <connectionStrings>
    <add name="DbChamados" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=ServiceDeskDB;Data Source=DESKTOP-OHMP7AD\SQLEXPRESS"/>
    <!--<add name="DbChamados" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=ServiceDeskDB;Data Source=SUSW0482\SQLEXPRESS"/>-->
  </connectionStrings>
</configuration>
